#searchbar {
    width: 610px;
}

#searchlocation {
    width: 240px;
}
.noBorders *{
    border: none !important;
    }

#bordercolors {
    border-top-color: cyan;
    border-bottom: 2px solid rgb(255, 208, 0);
    border-left: 2px solid  rgb(255, 208, 0);
    border-right: 2px solid rgb(35, 123, 255);
    position: relative;
}

#bordercolors:after {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -5px;
    border-bottom: 5px solid rgb(35, 123, 255);
    border-bottom-right-radius: 30%;
    content: '';
}

